

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}

.header__account-button-small-text {
    font-size: .8em;
}

.header__account-button-large-text,
.header__cart-button-text,
.header__cart-button-counter {
    font-weight: bold;
}

.header__account-button,
.header__cart-button,
.product__name,
.cart__name {
    text-decoration: none;
}

.product__button,
.cart__name,
.cart__price-title,
.cart__price {
    font-weight: bold;
}

.footer__link {
    text-decoration: none;
}

.footer__text-small {
    font-size: .8em;
    font-weight: lighter;
    color: #999
}

// ------------------------------------------------------------------------------ //@at-root
// Sing pages styles

.form-register__label,
.form-login__label {
    font-weight: 600;
}

.register-alert,
.login-alert {
    font-size: .85em;
}

.footer-login__list {
    list-style: none;
}