:any-link {
    color: white;
}

.header__nav {
    background-color: $navbar-color;
    color: white;
}

.header__toggle-menu-icon {
    background-image: url($sprite-global);
    background-position: -128px -247px;
    background-repeat: repeat-x;
    border: 1px solid hsla(0, 0%, 100%, .3);
}

.header__amazon-logo {
    background-image: url($sprite-global);
    background-position: -10px -51px;
}

.header__nav-search {
    border-radius: 3px;
}

.header__account-button,
.header__cart-button {
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
}

.header__cart-button-icon {
    background-image: url($sprite-global);
    background-position: -10px -340px;
}

.header__cart-button-counter {
    color: orange;
}

.product__name {
    color: blue;
}

.product__button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: orange;
}

.cart__item::before,
.login__new::before,
.login__new::after {
    background-color: #ddd;
} 

.cart__price-title {
    color: #999;
}

.cart__name {
    color: cadetblue;
}

// Footer styles

.footer {
    color: white;
    background-color: $background-footer;
}

.footer__back-to-top-button {
    color: white;
    background-color: $back-to-top-button;
    border: none;
}

.footer__amazon-logo {
    background-image: url($sprite-global);
    background-position: -10px -90px;
}

.footer__foot-text {
    color: #999;
}

// Aside styles

.aside::after {
    background-color: #999;
}

// --------------------------------------------------------------------------------------------//
// Sign in and sign up pages style

.header-login__logo {
    background-image: url($sprite-css);
    background-position: -5px -130px;
    background-size: 400px 750px;
}

.register-alert,
.login-alert {
    color: red;
}

.register-alert::before,
.login-alert::before {
    background-image: url($sprite-css);
    background-position: -141px -130px;
    background-size: 400px 750px;
}

.form-login,
.form-register {
    border: gray 1px solid;
    border-radius: 5px;
}

.form-register__input,
.form-login__input {
    border-radius: 5px;
}

.form-register__input:focus,
.form-login__input:focus {
    box-shadow: 0 0 5px 2px orangered;
}

.form-login__button {
    color: white;
    background-color: orange;
}

.footer-login::before {
    background-image: linear-gradient(to left, transparent, #ddd, transparent);
}