
// ------------------------ Pages ---------------------------//
.root {
    width: 100vw;
}

.main-page {
    display: grid;
    grid-template-columns: 190px 1fr;
    grid-template-rows: min-content 1fr min-content;
}

.cart-page {
    display: grid;
    grid-template-rows: min-content 1fr;

    @media screen and (min-width: 960px){
        grid-template-columns: 1fr min-content;
    }
}

.login-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}


// --------------------- Components ------------------------//
.header {
    width: 100vw;
    grid-column: span 2;
}

.header__nav {
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-rows: repeat(2, max-content);
    padding: 1em;

    @media screen and (min-width: 960px){
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.header__toggle-menu-icon {
    width: 30px;
    height: 30px;
    padding: 3px;
    cursor: pointer;
}

.header__amazon-logo {
    width: 97px;
    height: 30px;
}

.header__search-form {
    grid-column: span 4;
    grid-row: 2;
    padding: 1em;
}

.header__nav-search {
    width: 100%;
    padding: .3em;

    @media screen and(min-width: 960px){
        width: 50vw;
    }
}

.header__account-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .7em;
}

.header__cart-button {
    position: relative;
    display: flex;
    align-items: center;
    padding: .7em;
    padding-bottom: .2em; 
}

.header__cart-button-icon {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
}

.header__cart-button-counter {
    position: absolute;
    display: flex;
    justify-content: center;
    top: -7px;
    left: 4px;
    width: calc(100% - 4px);
}

.product__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-auto-rows: 400px;
    gap: 1em;
    margin: 1em;
}

.product__item {
    display: flex;
    flex-direction: column;
    width: 400px;
}

[class*="product__"]{
    margin-bottom: .5em;
}

.product__image-container {
    height: 200px;
}

.product__image {
    height: 100%;
}

.product__button {
    width: max-content;
    padding: .5em;
}

[class*="cart__"]{
    margin: .5em;
}

.cart__title {
    align-self: flex-start;
}

.cart__price-title {
    display: flex;
    justify-content: flex-end;
    width: 78.5%;
    margin-bottom: 0;
}

.cart__subtotal {
    position: initial;
    
    @media screen and (min-width: 960px){
        position: absolute;
        top: initial;
        right: 0;
    }
}

.cart__list,
.cart__item,
.cart__info {
    display: flex;
}

.cart__list,
.cart__info {
    flex-direction: column;
}

.cart__list {
    position: relative;
    align-items: center;

    @media screen and (min-width: 960px){
        top: 0;
        width: 70%;
    }
}

.cart__item {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 90%;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 1px;
    }
}

.cart__info {
    width: 50%;
}

.cart__image-container {
    justify-self: flex-start;
    width: 20%;
}

.cart__image {
    width: 100%;
}

.cart__button {
    width: max-content;
}

.loader {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 50vh;
}

// Footer styles

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 3;
    grid-column: span 2;
}

.footer__back-to-top-button,
.footer__amazon-logo,
.footer__grid,
.footer__foot,
.footer__foot-text {
    margin-bottom: 2em;
}

.footer__back-to-top-button {
    width: 100vw;
    padding: 1em;
}

.footer__amazon-logo {
    width: 76px;
    height: 23px;
}

.footer__grid {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.footer__link {
    display: flex;
    flex-direction: column;
}

.footer__foot {
    display: flex;
    justify-content: center;
}

.footer__foot-link {
    padding-right: 1em;
}

// Aside styles

.aside {
    display: none;
    position: relative;
    width: 140px;
    padding: 1rem;
    grid-row: 2;
    grid-column: 1;
}

.aside::after {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    width: 1px;
    height: 80%;
}

@media screen and (min-width: 960px){
    .aside {
        display: block;
    }

    .footer__grid {
        display: grid;
    }
}

// --------------------------------------------------------------------------------------------//
// Sign in and sign up pages style

.header-login {
    display: flex;
    justify-content: center;
}

.header-login__logo {
    height: 31px;
    width: 103px;
    margin: 2rem;
}

.form-login,
.form-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 2em;
}

.form-register__label,
.form-login__label {
    display: block;
    margin-top: 1em;
    margin-bottom: 5px;
}

.form-register__input,
.form-login__input {
    display: block;
    padding: .3em;
    margin-bottom: 5px;
}

.register-alert::before,
.login-alert::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
}

.form-login__button {
    padding: .7em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.login__new-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.login__new {
    position: relative;
    justify-self: center;

    &::before,
    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 50%;
        height: 1px;
        top: 60%;
    }

    &::before {
        left: 100%;
    }

    &::after {
        right: 105%;
    }
}


.login__new-button {
    justify-self: center;
    padding: .2em;
}


.footer-login {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.footer-login::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 2px;
}

.footer-login__list {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
    padding-left: 0;
}