

$background-color: #fff;
$font-family: Arial, sans-serif;

$navbar-color: #232f3e;

$sprite-global: 'https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global_bluebeacon-1x_optimized_layout1._CB468670774_.png';
$sprite-css: 'https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-sprite_1x-c4a765aedd886dc04d89e7e93b6a02c59ecb7013._V2_.png';
$background-buttons: linear-gradient(to bottom,#f7dfa5,#f0c14b);
$best-seller-background: #E67A00;

$back-to-top-button: #37475A;
$background-footer: #232F3E;