

.header__toggle-menu {
    cursor: pointer;
}

.header__toggle-menu:hover,
.header__account-button:hover,
.header__cart-button:hover {
    border: 1px solid white;
}

.footer__back-to-top-button,
.footer__amazon-logo {
    cursor: pointer;
}

.footer__back-to-top-button:hover {
    background-color: lighten($back-to-top-button, 5);
}

.footer__link:hover {
    text-decoration-line: underline;
}

.product__button:hover {
    background-color: darken(orange, 1);
}


// --------------------------------------------------------------------------------- //@
//  Sing form pages style 

.form-register__input:focus,
.form-login__input:focus {
    border: orange;
}